* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            height: 100vh;
            width: 100vw;
            display: flex;
            background-color: #000;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #fff;

        }

        .titlebar {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Ga Maamli", sans-serif;
            color: #fff;
            margin-bottom: 40px;
        }

        .section-a {
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 35px;

        }

        .alt {
            padding: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 2px;

        }

        .tab {
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 18px;
            padding-bottom: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 2px;

        }

        .caps {
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 18px;
            padding-bottom: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 2px;
        }

        .backspace {
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 18px;
            padding-bottom: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
        }

        .win {
            padding: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 2px;
        }

        .menu {
            padding: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 2px;

        }

        .ctrl {
            padding: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 2px;
        }

        .space {
            padding-top: 15px;
            padding-left: 100px;
            padding-right: 100px;
            padding-bottom: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;

        }

        .shift {
            padding-top: 16px;
            padding-left: 17px;
            padding-right: 30px;
            padding-bottom: 17px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 2px;

        }

        .enter {
            text-align: center;
            padding-top: 16px;
            padding-left: 13px;
            padding-right: 22px;
            padding-bottom: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 2px;
        }

        .smallbtns {
            padding: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 2px;
        }

        #main {
            padding: 15px;
            display: flex;
        }

        .section-b {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: column;
        }

        .brow-2 {
            padding-top: 30px;
            padding-bottom: 55px;
        }

        .brow-3 {
            padding: 90px 55px 35px 55px;
        }

        .arow-1 {
            height: 100%;
            width: 100%;
        }

        .arrows {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 40px;
        }

        .section-c {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .crow-3 {
            margin-top: 20px;
        }

        .crow-4 {
            margin-top: 2px;
        }

        .crow-5 {
            margin-top: 2px;

        }

        .crow-6 {
            margin-top: 2px;

        }

        #ps {
            font-size: 10px;
            padding: 15px;
            color: white;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 1px;
            opacity: 0;
        }

        #sl {
            padding: 15px;
            color: white;
            font-size: 10px;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 1px;
        }

        #pb {
            padding: 15px;
            color: white;
            border: 1px solid #fff;
            font-size: 10px;
            border-radius: 20px;
            margin: 1px;
        }

        #nl {
            padding: 15px;
            color: white;
            border: 1px solid #fff;
            font-size: 10px;
            border-radius: 20px;
            margin: 1px;
        }

        #pd {
            font-size: 12px;
        }

        #end {
            margin-right: 7px;
        }
        h4{
            color: white;
            display: flex;
            margin-top: 50px;
            justify-content: center;
            align-items: center;
        }
